@font-face {
  font-family: 'pacificoregular';
  src: url('./../Landing/pacifico-webfont.woff2') format('woff2'),
    url('./../Landing/pacifico-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('./../Landing/GeosansLight.woff2') format('woff2'),
    url('./../Landing/GeosansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

p {
  font-family: 'GeosansLight';
}

#top-padding {
  height: 30vh;
}

@media screen and (min-width: 1300px) {
  p {
    font-size: 24px;
    font-weight: 400;
    padding: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 18px;
    padding: 10px !important;
  }
}
