#need-list,
#resolved-list {
  /* max-height: 0;
  height: 76vh;
  overflow: hidden;
  overflow: scroll; */
  height: 80vh;
  overflow-y: auto;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.list-headers {
  color: whitesmoke !important;
  font-family: 'GeosansLight';
  height: 8vh;
  text-align: center;
  background-color: orange;
  padding: 2px 2px 2px 2px;
}

.grey-text.text-darken-4 {
  color: whitesmoke !important;
  font-weight: 600;
}

h4 {
  margin: 0px;
}

.card-content {
  padding: 10px 0px 10px 0px !important;
}

@media screen and (max-width: 450px) {
  .list-headers {
    padding: 7px 2px 2px 2px;
  }
}
