@font-face {
  font-family: 'pacificoregular';
  src: url('./../Landing/pacifico-webfont.woff2') format('woff2'),
    url('./../Landing/pacifico-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.brand-logo {
  size: 9em;
}

.Main-Page {
  padding-left: 10%;
  padding-right: 10%;
}

#navbar {
  background-color: orange;
  width: 80%;
  padding-left: 60px;
  padding-right: 60px;
}

#sidenav-overlay {
  z-index: 1;
}

.hover-over-nav:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.main-body {
  position: fixed;
  height: 85%;
  width: 80%;
}

#profile-modal {
  padding: 10px;
  border-radius: 5px;
}

.input-field input:focus + label {
  color: rgb(35, 192, 197) !important;
}
.row .input-field input:focus {
  border-bottom: 1px solid rgb(35, 192, 197) !important;
  box-shadow: 0 1px 0 0 rgb(35, 192, 197) !important;
}

@media screen and (max-width: 768px) {
  .Main-Page {
    padding-left: 1px;
    padding-right: 1px;
  }

  .main-body {
    height: 85%;
    width: 100%;
    overflow: scroll;
  }

  #navbar {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  #profile-modal {
    width: 100%;
  }
}
