.Main-Page {
  padding-left: 10%;
  padding-right: 10%;
}

#navbar {
  width: 80%;
  padding-left: 60px;
  padding-right: 60px;
}

#sidenav-overlay {
  z-index: 1;
}

.hover-over-nav:hover{
  text-decoration: underline;
  font-weight: bolder;
}

/* @media screen and (max-width:768px) {
  #navbar {
    height: 20vh;
  }
} */