.chip {
    width: 100%;
    margin-top: 10px;
}

.goodsamaritin-chip-div{
    margin: 0;
}

#offer-help-button {
    width: 100%;
}

.needview-button {

    width: 100%;
    margin-top: 10px;
   
}

.need-description {
    height: 20vh;
    overflow: auto;
    font-size: 1.2em;
}

.delete-icon {
    margin-left: 10px;
}

.category-icon {
    text-align: left;
    /* vertical-align: middle; */
    /* margin-top: 10px; */
    padding-right: 20px;
}


.delete-button {
    margin-top: 10px;
    margin-left: 10px;
    color: #ee6e73;
    float: right;
}

.good-Samaritins{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}

.needview-button-divs{
    padding: 0;
    margin: 0;
}

/* .material-icons{
    padding: 0;
    margin: 0;
} */
.needview-fixed{
position: fixed;
}

.collapsible-body{
    height: auto;
}

.delete-icon{
    position: relative;
    top: 5px;
    padding: 0;
  }

.category{
    text-decoration: underline;
    /* text-align: center; */
    margin: 0 0 20px 0;
}

.subject-header {
    text-align: center;
    padding-left: 20px;
    margin-top: 10px;
}
@media screen and (max-width:768px) {
    .category-icon {
        float: center;
    }
}