.chip {
    width: 100%;
    margin-top: 10px;
}

#offer-help-button {
    width: 100%;
}

.needview-button {
    width: 70%;
    margin-top: 10px;
    float: left;
}

.need-description {
    height: 20vh;
    overflow: auto;
}




.delete-button {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ee6e73;
    float: right;
}

.good-Samaritins{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}

.needview-fixed{
position: fixed;
}

.collapsible-body{
    height: auto;
}

@media screen and (max-width:768px) {
    .needview-button {
        width: 70%;
        float: right;
    }

    .delete-button {
        float: right;
    }
}