.chip {
    width: 100%;
    margin-top: 10px;
}

#offer-help-button {
    width: 100%;
}

.needview-button {
    width: 70%;
    margin-top: 10px;
}

.delete-button {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ee6e73;

}


.needview-fixed{
position: fixed;
}