@font-face {
  font-family: 'pacificoregular';
  src: url('pacifico-webfont.woff2') format('woff2'),
    url('pacifico-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button {
  background-color: #0270eb;
}

#header {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

#logo {
  font-family: 'pacificoregular';
  font-size: 9em;
  color: whitesmoke;
}

#motto {
  margin-top: 20vh;
  color: whitesmoke;
}

#login-overlay {
  text-align: center;
  width: 40%;
}

#info-overlay {
  margin-top: 5vh;
  width: 80%;
  margin: auto;
  text-align: center;
}

#top-buffer {
  height: 20vh;
}

#scroll-button {
  text-align: center;
  height: 100px;
  width: 100px;
}

#scroll-button-row {
  text-align: center;
  position: fixed;
  bottom: 3%;
  width: 100%;
}

/* .input-field input:focus + label {
  color:  rgb(46, 163, 231) !important;
}

.input-field input:focus {
  border-bottom: 1px solid  rgb(46, 163, 231) !important;
  box-shadow: 0 1px 0 0  rgb(46, 163, 231) !important
} */

@media screen and (min-width: 1300px) {
  #login-overlay {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  #login-overlay {
    width: 100%;
    margin-top: 5vh;
    padding: 10px;
  }

  #logo {
    font-size: 5em;
  }

  #info-overlay {
    width: 100%;
    height: 25vh;
    /* overflow: scroll; */
  }

  #top-buffer {
    height: 15vh;
  }
}
