#header {
  text-align: center;
  width: 100%;
  position: fixed;
  /* z-index: 0; */

}

#logo {
  font-size: 8em;
  color: whitesmoke;
}

#motto {
  margin-top: 20vh;
  color: whitesmoke;
}

#login-overlay {
  text-align: center;
  width: 40%;
  /* transform: 'translate(-50%,-50%)', */
}

#info-overlay {
  margin-top: 5vh;
  width: 80%;
  margin: auto;
  text-align: center;
  /* position: 'absolute';
  top: '50%';
  left: '50%'; */
}

#top-buffer {
  height: 20vh;
}

@media screen and (max-width:768px) {
  #login-overlay {
    width: 100%;
    margin-top: 5vh;
  }

  #logo {
    font-size: 5em;
  }

  #info-overlay {
    width: 100%;
    height: 25vh;
    /* overflow: scroll; */
  }

  #top-buffer {
    height: 15vh;
  }
}


