.message-button {
  width: 100%;
}

.message-txt {
  font-size: 17px;
}

#message-body {
  overflow-wrap: break-word;
}

#author,
#datetime {
  color: grey;

}

#datetime {
  float: right;
  margin-bottom: 10px;
}

.message-text {
  margin-top: 25px;
}

.delete-button {
  /* margin-top: 10px;
  margin-left: 10px; */
  background-color: #ee6e73;
  float: right;

}

