.message-button {
  width: 100%;
  margin: 5px 0px 20px 0px;
}

.message-txt {
  font-size: 17px;
}

#message-body {
  overflow-wrap: break-word;
}

#author,
#datetime {
  color: grey;
}

.chip-length {
  width: 90%;
}

#message-scroll-box {
  overflow-y: auto;
}

#datetime {
  float: right;
  margin-bottom: 10px;
}

.message-text {
  margin: 5px;
}

.message-cards {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.delete-button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #ee6e73;
  float: right;
}

#message-scroll-box .card-content {
  padding: 2px;
}

.delete-icon {
  position: relative;
  top: 12px;
  float: right;
  padding: 0;
}

.message-input-txt-box {
  padding: 50px;
}

.card .card-content {
  padding: 2px;
}

.card {
  margin: 5px 1px;
}
